version: "3"

services:
  spark-iceberg:
    image: tabulario/spark-iceberg
    container_name: spark-iceberg
    build: spark/
    networks:
      app_net:
    depends_on:
      - rest
      - minio
    volumes:
      - ./warehouse:/home/iceberg/warehouse
      - ./notebooks:/home/iceberg/notebooks/notebooks
    environment:
      - AWS_ACCESS_KEY_ID=admin
      - AWS_SECRET_ACCESS_KEY=password
      - AWS_REGION=asian
      # Spark Iceberg REST Catalog
      - SPARK_CONF__spark.sql.catalog.demo=org.apache.iceberg.spark.SparkCatalog
      - SPARK_CONF__spark.sql.catalog.demo.catalog-impl=org.apache.iceberg.rest.RESTCatalog
      - SPARK_CONF__spark.sql.catalog.demo.uri=http://rest:8181
      - SPARK_CONF__spark.sql.catalog.demo.warehouse=s3://warehouse/
      - SPARK_CONF__spark.sql.catalog.demo.io-impl=org.apache.iceberg.aws.s3.S3FileIO
      - SPARK_CONF__spark.sql.catalog.demo.s3.endpoint=http://minio:9000
      - SPARK_CONF__spark.sql.catalog.demo.s3.path-style-access=true
      - SPARK_CONF__spark.sql.catalogImplementation=demo
      # spark.conf.set("spark.sql.catalog.demo", "org.apache.iceberg.spark.SparkCatalog")
      # spark.conf.set("spark.sql.catalog.demo.type", "rest")
      # spark.conf.set("spark.sql.catalog.demo.uri", "http://rest:8181")
    ports:
      - 8888:8888
      - 18080:8080
      - 10000:10000
      - 10001:10001
  rest:
    image: apache/iceberg-rest-fixture
    container_name: iceberg-rest
    networks:
      app_net:
    ports:
      - 8181:8181
    environment:
      - AWS_ACCESS_KEY_ID=admin
      - AWS_SECRET_ACCESS_KEY=password
      - AWS_REGION=us-east-1
      - CATALOG_WAREHOUSE=s3://warehouse/
      - CATALOG_IO__IMPL=org.apache.iceberg.aws.s3.S3FileIO
      - CATALOG_S3_ENDPOINT=http://minio:9000
  minio:
    image: minio/minio
    container_name: minio
    environment:
      - MINIO_ROOT_USER=admin
      - MINIO_ROOT_PASSWORD=password
      - MINIO_DOMAIN=minio
    networks:
      app_net:
        aliases:
          - warehouse.minio
    ports:
      - 9001:9001
      - 9000:9000
    command: ["server", "/data", "--console-address", ":9001"]
    volumes:
      - ./minio_data:/data   # persist MinIO data on host
  mc:
    depends_on:
      - minio
    image: minio/mc
    container_name: mc
    networks:
      app_net:
    environment:
      - AWS_ACCESS_KEY_ID=admin
      - AWS_SECRET_ACCESS_KEY=password
      - AWS_REGION=us-east-1
    entrypoint: |
      /bin/sh -c "
      until (/usr/bin/mc alias set minio http://minio:9000 admin password) do echo '...waiting...' && sleep 1; done;
      # /usr/bin/mc rm -r --force minio/warehouse;
      # /usr/bin/mc mb minio/warehouse;
      /usr/bin/mc mb minio/warehouse || true;   # only create if not exists
      /usr/bin/mc anonymous set public minio/warehouse;
      tail -f /dev/null
      "
networks:
  app_net:
